body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
  }
  
  .weather-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .weather-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
    padding: 20px;
    margin-top: 5%;
    height: 500px;
  }
  
  .weather-card h2 {
    margin: 0;
    font-size: 45px;
  }
  
  .weather-card h3 {
    margin: 5px 0;
    font-size: 25px;
    color: gray;
  }
  
  .weather-icon {
    margin: 10px auto;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  

  .weather-icon.cloudy {
    background-image: url('/Website/img/cloud.webp'); /* Add apprxopriate image paths */
  }
  
  .weather-icon.sunny {
    background-image: url('/Website/img/cloud.webp');
  }
  
  .weather-icon.rainy {
    background-image: url('/Website/img/cloud.webp');
  }
  
  .temp-chart {
    margin-top: 10px;
    width: 100%;
    height: 100px;
  }